/* Variables */
$font-anchor-size = 12px
$font-anchor = $font-anchor-size "Lucida Grande", Arial
$font-padding-anchor = 10px
$font-margin-anchor = $font-padding-anchor

/* Estilos */
.Teacher
    border-bottom 2px solid orange
    padding 5px 0

.Teacher
    > a
        display block
        font $font-anchor, sans-serif
        font-style italic
        margin-left $font-margin-anchor
        padding-left $font-padding-anchor
